img.socialLogos {
	height: 25px;
	width: 25px;
}

img.avatar {
	height: 150px;
	width: 150px;
}

footer.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.hall-container {
	margin-left: auto;
	margin-right: auto;
}

div.avatar {
	width: 155px;
	height: 155px;
	margin-left: auto;
	margin-right: auto;
}

div.tag {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

hr.hall {
	width: 250px;
}

p.handle {
	font-size: 50px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
