@font-face {
    font-family: 'junction_regularregular';
    src: url('assets/junction/junctionregular_regular_macroman/Junction-webfont.eot');
    src: url('assets/junction/junctionregular_regular_macroman/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/junction/junctionregular_regular_macroman/Junction-webfont.woff') format('woff'),
         url('assets/junction/junctionregular_regular_macroman/Junction-webfont.ttf') format('truetype'),
         url('assets/junction/junctionregular_regular_macroman/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html, body{
	font-family: 'junction_regularregular', 'sans-serif';
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color:#000000;
	text-align: left;
	color: #C0C0C0;
	text-align: center;
}

a.nav, a.nav:hover, a.nav:focus , a.nav:visited,  a.nav:link {border: none; text-decoration: none;}

a:visited{
	color:#B4070C;
}

a:hover{
	color:#FF0000;
}

a:link{
	color:#D20000;
}

blockquote {
	margin-left: 5%;
	width: 75%;
	font-family: 'Goudy-Italic',monospace, 'Tahoma';
	border-left: 1px solid grey;
	padding-left: 10px;
}

code{
	margin-left: auto;
	margin-right: auto;
	height:auto;
	width:75%;
	font-family: 'ProggyCleanTTSZRegular', 'monospace';
	display: block;
	/*word-wrap: break-word;*/
}

footer {
	display: block;
	clear: both;
	font-size: 8px;
}
